<h1>Welcome to Digging Holes</h1>
<p>Please enter the origin of your hole<%=", " + current_user.name if current_user%></p>
<br><br>
<%= form_tag search_result_path, class: "input-group input-group-lg" do  %>
<%= text_field_tag :user_input, nil, class: 'form-control', placeholder: 'Start my hole at' %>
<span class="input-group-btn">
  <%= submit_tag "Search", class: 'btn btn-default'%>
</span>
<% end %>
<br><br>
<% if @location %>
<div class="panel panel-primary">
  <!-- Default panel contents -->

  <table class="table">
    <tr>
      <th>
        Origin
      </th>
      <th>
        Destination
      </th>
    </tr>
    <tr>
      <td>
        <p><strong>Address: </strong> <%=@location.formatted_address %></p>
        <p><strong>Latitud: </strong><%=@location.latitud %></p>
        <p><strong>Longitud: </strong><%=@location.longitud %></p>

        <%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=420x420&location=#{@location.latitud},#{@location.longitud}")%>
      </td>
      <%if @destination != nil%>
      <td>
        <p><strong>Address: </strong> <%=@destination.formatted_address %></p>
        <p><strong>Latitud: </strong><%=@destination.latitud %></p>
        <p><strong>Longitud: </strong><%=@destination.longitud %></p>
        <div class="img-index">

        <%if @destination.place_id == nil %>
        <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{@destination.latitud},#{@destination.longitud}&zoom=5&size=420x420") %>
        <%elsif @destination.formatted_address.include? "China"%>
        <%= image_tag("https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{@destination.photo_reference}&key=AIzaSyBPgkovQBMasblHCojHk0jXd_pIg_3aLrU")%>
        <%else%>
        <%= image_tag("https://maps.googleapis.com/maps/api/place/photo?maxwidth=420&photoreference=#{@destination.photo_reference}&key=AIzaSyBPgkovQBMasblHCojHk0jXd_pIg_3aLrU")%>
        <%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=420x420&location=#{@destination.latitud},#{@destination.longitud}")%>
        <%end%>
      </div>
      </td>
    </tr>
    <%end%>

    <%if current_user != nil%>
    <tr>
      <td>
      </td>
      <td class="fava">
        <%= form_tag holes_path, method: :post do %>
        <%=hidden_field_tag :current_user_id, current_user.uid%>
        <%=hidden_field_tag :origen_address, @location.formatted_address %>
        <%=hidden_field_tag :origin_latitud, @location.latitud%>
        <%=hidden_field_tag :origin_longitud, @location.longitud%>
        <%=hidden_field_tag :origin_image, "https://maps.googleapis.com/maps/api/streetview?size=420x200&location=#{@location.latitud},#{@location.longitud}"%>
        <%=hidden_field_tag :destination_address, @destination.formatted_address %>
        <%=hidden_field_tag :destination_latitud, @destination.latitud%>
        <%=hidden_field_tag :destination_longitud, @destination.longitud%>
        <%=hidden_field_tag :destination_image, "https://maps.googleapis.com/maps/api/place/photo?maxwidth=420&photoreference=#{@destination.photo_reference}&key=AIzaSyBPgkovQBMasblHCojHk0jXd_pIg_3aLrU"%>

        <%=submit_tag 'Save Hole!!', class: "btn btn-primary"%>
        <%end%>
      </td>
    </tr>
    <%end%>
  </table>
</div>
<% end %>
