<h1>Welcome to Digging Holes</h1>
<p>Please enter the origin of your hole<%=", " + current_user.name if current_user%></p>
<br><br>
<%= form_tag search_result_path, class: "input-group input-group-lg" do  %>
    <%= text_field_tag :user_input, nil, class: 'form-control', placeholder: 'Start my hole at' %>
  <span class="input-group-btn">
  <%= submit_tag "Search", class: 'btn btn-default'%>
</span>
<% end %>
<br><br>
<% if @location %>
<div class="panel panel-primary">
  <!-- Default panel contents -->

  <table class="table">
    <tr>
      <th>
        Origin
      </th>
      <th>
        Destination
      </th>
    </tr>
    <tr>
      <td>
          <p><strong>Address: </strong> <%=@location.formatted_address %></p>
          <p><strong>Latitud: </strong><%=@location.latitud %></p>
          <p><strong>Longitud: </strong><%=@location.longitud %></p>
          <%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=420x500&location=#{@location.latitud},#{@location.longitud}")%>
      </td>
      <%if @destination != nil%>
      <td>
        <p><strong>Address: </strong> <%=@destination.formatted_address %></p>
        <p><strong>Latitud: </strong><%=@destination.latitud %></p>
        <p><strong>Longitud: </strong><%=@destination.longitud %></p>
        <%= image_tag("https://maps.googleapis.com/maps/api/streetview?size=420x500&location=#{@destination.latitud},#{@destination.longitud}")%>
      </td>
    </tr>
    <%end%>

    <%if current_user%>
      <tr>

      <td class="fava">
      <%= form_tag holes_path, method: :post do %>
      <%=hidden_field_tag :current_user_id, current_user.uid%>
      <%=hidden_field_tag :origin_latitud, @location.latitud%>
      <%=hidden_field_tag :origin_longitud, @location.longitud%>
      <%=hidden_field_tag :origin_image, "https://maps.googleapis.com/maps/api/streetview?size=420x500&location=#{@location.latitud},#{@location.longitud}"%>
      <%=hidden_field_tag :destination_latitud, @destination.latitud%>
      <%=hidden_field_tag :destination_longitud, @destination.longitud%>
      <%=hidden_field_tag :destination_image, "https://maps.googleapis.com/maps/api/streetview?size=420x500&location=#{@destination.latitud},#{@destination.longitud}"%>
      <%=submit_tag 'Save Hole!!', class: "btn btn-primary"%>
    <%end%>
    </tr>
    <%end%>
  </table>
</div>
<% end %>
