<table class="table">
<%@holes.map do |hole|%>
  <tr>
    <td>
      <p><strong>Address: </strong><%=hole.origen_address%></p>
      <p><strong>Latitud: </strong><%=hole.origin_latitud%></p>
      <p><strong>Longitud: </strong><%=hole.origin_longitud%></p>
      <%=image_tag hole.origin_image%>
    </td>
    <td>
      <p><strong>Address: </strong><%=hole.destination_address%></p>
      <p><strong>Latitud: </strong><%=hole.destination_latitud%></p>
      <p><strong>Longitud: </strong><%=hole.destination_longitud%></p>

      <% if hole.destination_address.empty? %>
      <%= image_tag("https://maps.googleapis.com/maps/api/staticmap?center=#{hole.destination_latitud},#{hole.destination_longitud}&zoom=5&size=420x200") %>
      <%else%>
      <div class="img-show">

      <%=image_tag hole.destination_image%>
      </div>
      <% end %>
    </td>

  </tr>
  <tr>
    <td></td>
    <td>
      <%=button_to "Delete this hole", hole, method: :delete, class: "btn btn-primary", data: { confirm: "Are you sure?" } %>
    </td>
  </tr>

<%end%>
</table>
